<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="/dashboard" method="post">
                    <div class="form-group">
                        <label for="club">Club</label>
                        <input type="text" name="club" class="form-control" placeholder="Club Name">
                    </div>
                    <div class="form-group">
                        <label for="country">Club</label>
                        <input type="text" name="country" class="form-control" placeholder="Country">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg upload-btn" type="button">Upload File</button>
                        <input type="file" name="upload" id="upload-input" style="display: none">
                    </div>
                    <button class="btn btn-primary" type="submit">Add Group</button>
                </form>
            </div>
        </div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/upload.js"></script>
</body>
</html>